@{
    ViewBag.Title = "急救指南";
}

<div data-page="map" class="page navbar-fixed tabbar-fixed tabbar-labels-fixed page-on-center">

    <div class="navbar bg-blue color-white">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="center sliding">
                急救援助
            </div>
            <div class="right">
                <a href="#" class="link color-white btn-newhelp">
                    <i class="f7-icons">add_round_fill</i>
                    <span>请求救援</span>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div id="ambulance_map" style="width:100%; height:100%;"></div>
    </div>

</div>
