@{
    ViewBag.Title = "个人信息";
}

<div data-page="mine" class="page navbar-fixed tabbar-labels-fixed page-on-center">

    <div class="navbar bg-blue color-white">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="center">
                我的
            </div>
            <div class="right">
            </div>
        </div>
    </div>

    <div class="page-content">

        <div class="list-block media-list">
            <ul>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media"><img src="~/Contents/image/doctor3.png" width="64"></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">李小明</div>
                            </div>
                            <div class="item-subtitle">北京朝阳医院 · 13912345678</div>
                            <div class="item-subtitle color-gray">已认证 · 救援人次：3</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="list-block">
            <ul>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media">
                            <i class="f7-icons color-orange">star</i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">我的收藏</div>
                            <div class="item-after color-gray">4</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media">
                            <i class="f7-icons color-red">heart</i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">我参与的患者救援</div>
                            <div class="item-after color-gray">3</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="list-block">
            <ul>
                <li>
                    <a href="#" class="item-link item-content">
                        <div class="item-media">
                            <i class="f7-icons color-blue">gear</i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">设置</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>
