@{
    ViewBag.Title = "个人信息";
}

<div class="navbar bg-blue color-white">
    <div class="navbar-inner">
        <div class="left">
        </div>
        <div class="center">
            志愿者认证
        </div>
    </div>

    <div class="subnavbar sliding">
        <div class="buttons-row">
            <a href="#" class="button active">我的认证</a>
            <a href="#" class="button">培训材料</a>
            <a href="#" class="button">认证说明</a>
        </div>
    </div>

</div>

<div class="pages">

    <div data-page="zyz" class="page navbar-fixed tabbar-labels-fixed page-on-center">

        <div class="page-content with-subnavbar">
            <div class="card">
                <div style="background-image:url('/Contents/image/er.jpg'); height:190px; " valign="bottom" class="card-header color-white no-border">No.00001</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <div class="color-blue" style="font-size:32px;">李小明</div>
                        <div>北京朝阳医院副主任医生</div>
                        <p class="color-gray">
                            认证时间：2017/04/09
                            ·
                            救援人次：3
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="link">
                        <i class="f7-icons">forward_fill</i>
                        <span>分享</span>
                    </a>
                    <a href="#" class="link color-green">
                        <i class="f7-icons">check_round_fill</i>
                        <span>已认证</span>
                    </a>
                </div>
            </div>

            <div class="content-block-title">认证历程</div>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-item-date">03-05 <small>2017</small></div>
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                        <div class="timeline-item-inner">提交滴滴急救志愿者认证申请</div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-item-date">03-29 <small>2017</small></div>
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                        <div class="timeline-item-inner">完成培训材料学习</div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-item-date">04-09 <small>2017</small></div>
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                        <div class="timeline-item-inner">通过滴滴急救志愿者认证，编号：No.00001</div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-item-date">04-11 <small>2017</small></div>
                    <div class="timeline-item-divider"></div>
                    <div class="timeline-item-content">
                        <div class="timeline-item-inner">在北京工人体育场附近，参与救援一名老年男性心梗患者，帮助患者成功脱险。</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>