@using MH.CMN
@using MH.Rescue.BIZ
@model List<patientcase>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "典型病例管理";
}

<div class="padding10">
    <table style="width:100%; table-layout:fixed;" cellpadding="5">
        <tr>
            <td>
                <div class="half-opacity">用户姓名</div>
                <div class="input-control text full-size">
                    <input type="text">
                </div>
            </td>
            <td>
                <div class="half-opacity">手机号码</div>
                <div class="input-control text full-size">
                    <input type="text">
                </div>
            </td>
            <td>
                <div class="half-opacity">单位名称</div>
                <div class="input-control text full-size">
                    <input type="text">
                </div>
            </td>
            <td>
                <div class="half-opacity">所在科室</div>
                <div class="input-control text full-size">
                    <input type="text">
                </div>
            </td>
            <td>
                <div class="half-opacity">状态</div>
                <select class="input-control select full-size">
                    <option>全部</option>
                </select>
            </td>
            <td>
                <div class="half-opacity">注册日期</div>
                <select class="input-control select full-size">
                    <option>全部</option>
                </select>
            </td>
            <td style="width:250px;">
                <div>&nbsp;</div>
                <button class="button primary">
                    <span class="mif-search"></span>
                    查询
                </button>
                <button class="button">
                    <span class="mif-undo"></span>
                    重置
                </button>
            </td>
        </tr>
    </table>

    <div style="padding:0 5px;">
        <table class="table border bordered bg-white hovered">
            <tr class="bg-grayLight fg-white">
                <td>用户姓名</td>
                <td>手机号码</td>
                <td>单位名称</td>
                <td>所在科室</td>
                <td>注册日期</td>
                <td>状态</td>
                <td style="width:240px;">操作</td>
            </tr>

           <!--导入数据--> 
    </div>
</div>

<div data-role="dialog" id="dlgUserDetail" class="bg-main2" data-overlay="true" data-overlay-color="op-dark" data-close-button="true" data-width="640">
    <div class="padding10 bg-main fg-white">
        <span class="mif-pencil"></span>
        用户详细信息
    </div>
    <div class="padding10">
        <table style="width:100%; table-layout:fixed;" cellpadding="10">
            <tr>
                <td>
                    <div class="half-opacity">用户姓名</div>
                    <div class="input-control text full-size">
                        <input type="text">
                    </div>
                </td>
                <td>
                    <div class="half-opacity">手机号码</div>
                    <div class="input-control text full-size">
                        <input type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="half-opacity">单位名称</div>
                    <div class="input-control text full-size">
                        <input type="text">
                    </div>
                </td>
                <td>
                    <div class="half-opacity">所在科室</div>
                    <div class="input-control text full-size">
                        <input type="text">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="half-opacity">注册日期</div>
                    <div class="input-control text full-size">
                        <input type="text">
                    </div>
                </td>
                <td>
                    <div class="half-opacity">状态</div>
                    <select class="input-control select full-size">
                        <option>待审核</option>
                        <option>已审核</option>
                        <option>已禁用</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="padding20 align-right border-top">
        <button class="button primary">
            <span class="mif-floppy-disk"></span>
            保存
        </button>
        <button class="button">
            <span class="mif-cancel"></span>
            取消
        </button>
    </div>
</div>