
<div data-page="kiosk-guest" class="page navbar-fixed tabbar-fixed">
    <div class="navbar bg-blue color-white">
        <div class="navbar-inner">
            <div class="left">
            </div>
            <div class="center">
                自助问诊病人列表
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content">
        <div style="padding:150px 20px; text-align:center;">
            <i class="f7-icons" style="font-size:120px; opacity:0.2;">briefcase_fill</i>
            <div style="padding:15px;">
                请 <a href="#" class="open-login-screen">登录</a> 后查看<br />
                您所在医院科室的自助问诊患者列表
            </div>
        </div>
    </div>
</div>



