@using MH.Rescue.BIZ
@model user_account

<div data-page="change-password" class="page navbar-fixed no-toolbar no-tabbar page-on-center">

    <div class="navbar bg-blue color-white">
        <div class="navbar-inner">
            <div class="left">
                <a href="/account/MyProfile" class="back link icon-only color-white">
                    <i class="icon icon-back color-white"></i>
                </a>
            </div>
            <div class="center">
                修改密码
            </div>
            <div class="right">
                <a href="#" class="link color-white" onclick="SubmitPassword()">
                    <i class="f7-icons">check_round</i>
                    <span>保存</span>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">
        <form id="formChangePassword" class="list-block">
            <input type="hidden" name="account" value="@Model.account" />
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">手机号码</div>
                            <div class="item-input">
                                <input type="text" name="mobile_number" disabled value="@Model.mobile_number">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">原密码</div>
                            <div class="item-input">
                                <input type="password" name="old_password" placeholder="请输入目前使用的密码">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">新密码</div>
                            <div class="item-input">
                                <input type="password" name="password" placeholder="请设置新密码">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">确认新密码</div>
                            <div class="item-input">
                                <input type="password" name="password2" placeholder="请再次输入">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>

</div>
