
<div data-page="forgot-password" class="page navbar-fixed no-toolbar no-tabbar page-on-center">

    <div class="navbar bg-blue color-white">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link icon-only color-white">
                    <i class="icon icon-back color-white"></i>
                </a>
            </div>
            <div class="center">
                忘记密码
            </div>
            <div class="right">
            </div>
        </div>
    </div>


    <div class="page-content">
        <div class="content-block">
            <p>如忘记登录密码请您联系客服，发送邮件至 急诊互联 官方电子邮箱：mh_jzhl@163.com </p>
            <p style="text-align:center; padding-top:20px;" onClick="qrcode(0)">
                <img src="~/Contents/image/logo_全色.png" width="160" />
            </p>
        </div>
    </div>
</div>

</div>
