
<div class="login-screen">
    <div class="view">
        <div class="page">
            <div class="page-content login-screen-content">
                <div class="login-screen-title">急诊互联</div>
                <form id="formSignin" class="list-block store-data">
                    <ul>
                        <li class="item-content">
                            <div class="item-media">
                                <i class="icon f7-icons">phone</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="text" id="txtSigninMobile" name="mobile" placeholder="请输入手机号码">
                                </div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media">
                                <i class="icon f7-icons">lock</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="password" id="txtSigninPassword" name="password" placeholder="请输入密码">
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
                <div class="content-block">
                    <div class="row">
                        <div class="col-50">
                            <a href="#" class="button button-big button-raised button-fill color-blue active" onclick="Signin()">登录</a>
                        </div>
                        <div class="col-50">
                            <a href="#" class="button button-big button-raised" onclick="Register()">新注册</a>
                        </div>
                    </div>
                    <div class="list-block-label">
                        <p></p>
                        <p><a href="#" onclick="ForgotPassword()">忘记密码？</a></p>
                        <p><a href="#" class="close-login-screen">关闭登录窗口</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
